us-refor.json linguist-language=JSON
keylayout/us-refor.keylayout linguist-language=XML
klc/us-refor.klc linguist-language=Text
pkl/pkl.ini linguist-language=INI
pkl/layouts/us-refor linguist-language=INI
xkb/XCompose linguist-language=XCompose
xkb/symbols/us-refor linguist-language=C
xkb/types/us-refor linguist-language=C

us-refor.json linguist-detectable
keylayout/us-refor.keylayout linguist-detectable
klc/us-refor.klc linguist-detectable
pkl/pkl.ini linguist-detectable
pkl/layouts/us-refor linguist-detectable
xkb/XCompose linguist-detectable
xkb/symbols/us-refor linguist-detectable
xkb/types/us-refor linguist-detectable